.popup__close-button {
  height: 40px;
  width: 40px;
  background: url(../../../images/Close-Icon.svg) no-repeat center;
  border: none;
  grid-row: -3/-2;
  grid-column: -1/-2;
  align-self: end;
  justify-self: start;
  padding: 0;
}

@media screen and (max-width: 600px) {
  .popup__close-button {
    background: url(../../../images/Close-Icon-little.svg) no-repeat center;
    height: 20px;
    width: 20px;
    margin: 0 15px 0 0;
  }
}
