.profile__avatar {
  max-width: 120px;
  width: 100%;
  min-width: 120px;
  max-height: 120px;
  min-height: 120px;
  height: 100%;
  border-radius: 50%;
  object-fit: cover;
  overflow: hidden;
  background-image: url(../../../images/jacques-yves-cousteau.jpg);
  background-position: center;
  background-size: contain;
  font-size: 18px;
  line-height: 20px;
}
